.backtotop {
    position: fixed;
    bottom: 25px;
    right: 25px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: $cl-black-0;
    background-color: rgba(0, 0, 0, 0.6);
    transform: translateY(60px);
    opacity: 0;
    transition: 0.3s;
    &:hover {
        background-color: $cl-gold-0;
    }
    @media screen and (max-width: 800px) {
        display: none;
    }
}