.YouTubePopUp-Close {
    background:url(../../img/close.png) no-repeat;
    background-size: cover;
}

#lightbox {
    .lb-dataContainer {
        .lb-data {
            position: relative;
            height: 30px;
            .lb-closeContainer {
                .lb-close {

                }
            }
        }
    }
}