* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #323232;
    line-height: 1.5;
}

::selection {
    background-color: $cl-gold-0;
    color: white;
}